*{
    scroll-behavior: smooth;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FEFEFE;
}

hr{
    max-width: 90%;
    border: solid 3px #314C64;
}

/* utility classes */
.background-white{
    background-color: #FEFEFE;
}

.background-blue{
    background-color: #314C64;
}

.padding{
    padding-bottom: 30px;
    padding-top: 5px;
}

.text-white{
    color: #FEFEFE;
}

.text-black{
    color: #0F0F0F;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.text-center{
    text-align: center;
    margin: auto;
}

.text-left{
    text-align: left;
}

.content-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 302px;
    margin: auto;
}

.margin-auto{
    margin: auto;
}

.text-decoration-none{
    text-decoration: none;
}

.text-bold{
    font-weight: 800;
}

.hero-placement{
    display: flex;
    justify-content: center;
    gap: 0px;
}

.margin-top{
    margin-top: 20px;
}

.dropshawdow{
    filter: drop-shadow(0px 3px 3px #00000036);
}
/* utility classes end*/

/* Fonts */

h1{
    font-family: 'acumin-pro', sans-serif;
    font-size: 28px;
    font-weight: 800;
}

h2{
    font-family: 'acumin-pro', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

h3{
    font-family: 'acumin-pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

p{
    font-family: 'acumin-pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
/* Fonts end */

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    max-width: 90%;
    margin: auto;
}

.logo {
    width: 200px;
}

.nav-links li {
    list-style: none;
    padding-top: 10px;
}

.nav-links li a {
    text-decoration: none;
    font-family: 'acumin-pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FEFEFE;
    text-align: center;
}

.nav-links li a::after {
    content: '';
    background: #314C64;
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}
/* Navbar slut */

/* Hamburgermenu */
.hamburgermenu{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.hamburger-line{
    background-color: #0F0F0F;
    width: 20px;
    height: 2px;
}

.hide{
    display: none;
}

.nav__link {
    position: fixed;
    width: 100%;
    background-color: #314C64;
    top: 6rem;
    text-align: center;
    padding: 1rem 0;
    left: 0;
  }
/* Hamburgermenu slut */

.call-to-action{
    background-color: #35CADB;
    padding: 0.6rem 0.8rem;
    width: fit-content;
    border-radius: 5px;
    color: #0F0F0F;
    font-family: 'acumin-pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 20px auto;
    cursor: pointer;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 3px 3px #00000036);
}

.call-to-action:hover{
    background-color: #6DD0DB
}

.expertise-icons{
    border-radius: 50%;
    background-color: #FEFEFE;
    width: 70px;
    height: 70px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 3px 3px #00000036);
}

.expertise-icons-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin: auto;
}

.expertise-text{
    max-width: 250px;
    margin-bottom: 30px;
}

.aboutme-img{
    height: 450px;
}

.project-img1{
    background-image: url("images/project_1.png");
    background-size: 290px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 260px;
    height: 421px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px #00000036);
}

.project-img1:hover{
    scale: 105%;
}

.project-img2{
    background-image: url("images/project_2.png");
    background-size: 290px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 260px;
    height: 421px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px #00000036);
}

.project-img2:hover{
    scale: 105%;
}

.project-img3{
    background-image: url("images/project_3.png");
    background-size: 290px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 260px;
    height: 421px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px #00000036);
}

.project-img3:hover{
    scale: 105%;
}

.project-img4{
    background-image: url("images/project_4.png");
    background-size: 290px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 260px;
    height: 421px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px #00000036);
}

.project-img4:hover{
    scale: 105%;
}

.project-img5{
    background-image: url("images/some_reklame1.png");
    background-size: 290px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 260px;
    height: 421px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px #00000036);
}

.project-img5:hover{
    scale: 105%;
}

.project-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.projects-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contactinformation{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-flex{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.hero-h1{
    max-width: 320px;
    margin: auto;
}

.hero-p{
    max-width: 285px;
    margin: auto;
}

.contactme-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 302px;
    margin: auto;
}

.hero-desktop{
    display: none;
}

.linkedin{
    text-decoration: none;
    color: #0F0F0F;
}

.tools-box{
    border: solid 2px #0F0F0F;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
    text-align: center;
}

.tools-used{
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
}

.tools-used2{
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
}

.projects-examples1{
    margin-bottom: 20px;
    margin-top: 32px;
    border-radius: 10px;
    padding: 5px
}

.projects-h1{
    text-align: center;
}

.projects-h2{
    text-align: center;
}

.youtube-video{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 302px;
    margin: auto;
    margin-top: 30px;
}

@media screen and (min-width: 1024px){

hr{
    max-width: 1086px;
}

/* Fonts */

h1{
    font-family: 'acumin-pro', sans-serif;
    font-size: 50px;
    font-weight: 800;
}

h2{
    font-family: 'acumin-pro', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-family: 'acumin-pro', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

p{
    font-family: 'acumin-pro', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}
/* Fonts end */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1086px;
    width: 100%
}

.nav__link{
    display: flex;
    flex-direction: row;
    position: sticky;
    background-color: #FEFEFE;
    justify-content: flex-end;
}

.nav-links li a {
    color: #0F0F0F;
}

.hamburgermenu{
    display: none;
}

.content-flex{
    flex-direction: row;
    max-width: 1086px;
}

.hero-h1{
    max-width: 600px;
    margin-bottom: 10px;
}

.hero-p{
    max-width: 350px;
    font-size: 21px;
    margin: 0;
}

.hero-placement{
    display: flex;
    justify-content: center;
    gap: 130px;
}

.about-text{
    max-width: 500px;
}

.about-section{
    justify-content: center;
    gap: 90px;
}

.about-titles{
    text-align: left;
}

.projects-flex{
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.contactinformation{
    flex-direction: row;
}

.contactme-flex{
    max-width: 450px;
    justify-content: center;
    gap: 20px;
}

.contact-flex{
    width: 220px;
    justify-content: center;
}

.call-to-action{
    padding: 0.5rem 1rem;
    font-size: 25px;
    margin: 20px 0;
}

.hero-text{
    text-align: left;
}

.hero-phone{
    display: none;
    max-width: 302px;
    width: 100%;
}

.hero-desktop{
    display: block;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1086px;
}

.logo {
    width: 200px;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-links li a {
    text-decoration: none;
    font-family: 'acumin-pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #0F0F0F;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after {
    content: '';
    background: #314C64;
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.projects-h1{
    text-align: left;
}

.projects-h2{
    text-align: left;
    margin: 0 0 30px 0;
}

.tools{
    align-self: flex-start;
    margin-left: 40px;
}

.maxwidth-desktop{
    max-width: 1086px;
    margin: auto;
}

.call-to-action2{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects-examples1{
    height: 400px;
    margin: 0;
}

.projects-examples2{
    height: 400px;
    margin: 0;
}

.project-p{
    max-width: 500px;
}

.tools-used{
    justify-content: left;
}

.tools-used2{
    justify-content: left;
}

.youtube-video{
    height: 610px;
    max-width: 1086px;
}

.tools-video{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.project-img1{
    max-width: 220px;
}

.project-img2{
    max-width: 220px;
}

.project-img3{
    max-width: 220px;
}

.project-img4{
    max-width: 220px;
}

.project-img5{
    max-width: 220px;
}

}