html,body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FEFEFE;
}

/* utility classes */
.background-white{
    background-color: #FEFEFE;
}

.background-blue{
    background-color: #314C64;
}

.text-white{
    color: #FEFEFE;
}

.text-black{
    color: #0F0F0F;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.text-center{
    text-align: center;
    margin: auto;
}

.margin-auto{
    margin: auto;
}

.text-decoration-none{
    text-decoration: none;
}
/* utility classes end*/

/* Fonts */

h1{
    font-family: 'acumin-pro', sans-serif;
    font-size: 28px;
    font-weight: 800;
}

p{
    font-family: 'acumin-pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
/* Fonts end */

.call-to-action{
    background-color: #35CADB;
    padding: 0.6rem 0.8rem;
    width: fit-content;
    border-radius: 5px;
    color: #0F0F0F;
    font-family: 'acumin-pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 2rem;
}