html,body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FEFEFE;
}

hr{
    max-width: 90%;
    border: solid 3px #314C64;
}

/* utility classes */
.background-white{
    background-color: #FEFEFE;
}

.background-blue{
    background-color: #314C64;
}

.padding{
    padding-bottom: 30px;
    padding-top: 5px;
}

.text-white{
    color: #FEFEFE;
}

.text-black{
    color: #0F0F0F;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.text-center{
    text-align: center;
    margin: auto;
}

.text-left{
    text-align: left;
}

.content-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 302px;
    margin: auto;
}

.margin-auto{
    margin: auto;
}

.text-decoration-none{
    text-decoration: none;
}

.text-bold{
    font-weight: 800;
}

.hero-placement{
    display: flex;
    justify-content: center;
    gap: 0px;
}
/* utility classes end*/

/* Fonts */

h1{
    font-family: 'acumin-pro', sans-serif;
    font-size: 28px;
    font-weight: 800;
}

h2{
    font-family: 'acumin-pro', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

h3{
    font-family: 'acumin-pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

p{
    font-family: 'acumin-pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
/* Fonts end */

.call-to-action{
    background-color: #35CADB;
    padding: 0.6rem 0.8rem;
    width: fit-content;
    border-radius: 5px;
    color: #0F0F0F;
    font-family: 'acumin-pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 3px 3px #00000036);
}

.expertise-icons{
    border-radius: 50%;
    background-color: #FEFEFE;
    width: 80px;
    height: 80px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 3px 3px #00000036);
}

.expertise-icons-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin: auto;
}

.expertise-text{
    max-width: 250px;
    margin-bottom: 30px;
}

.project-img1{
    background-image: url("images/project_1.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 246px;
    height: 421px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    border-radius: 10px;
    transition: 2s;
    cursor: pointer;
}

.project-img1:hover{
    background-position: right;
}

.project-img2{
    background-image: url("images/project_2.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 246px;
    height: 421px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    border-radius: 10px;
    transition: 2s;
    cursor: pointer;
}

.project-img2:hover{
    background-position: right;
}

.project-img3{
    background-image: url("images/project_3.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 246px;
    height: 421px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    border-radius: 10px;
    transition: 2s;
    cursor: pointer;
}

.project-img3:hover{
    background-position: right;
}

.project-img4{
    background-image: url("images/project_4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 246px;
    height: 421px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    border-radius: 10px;
    transition: 2s;
    cursor: pointer;
}

.project-img4:hover{
    background-position: right;
}

.project-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.projects-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contactinformation{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-flex{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.hero-h1{
    max-width: 320px;
}

.hero-p{
    max-width: 285px;
}

.contactme-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 302px;
    margin: auto;
}

@media screen and (min-width: 1024px){

hr{
    max-width: 1086px;
}

/* Fonts */

h1{
    font-family: 'acumin-pro', sans-serif;
    font-size: 50px;
    font-weight: 800;
}

h2{
    font-family: 'acumin-pro', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-family: 'acumin-pro', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

p{
    font-family: 'acumin-pro', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}
/* Fonts end */

.content-flex{
    flex-direction: row;
    max-width: 1086px;
}

.hero-h1{
    max-width: 600px;
}

.hero-p{
    max-width: 350px;
    font-size: 21px;
}

.hero-placement{
    display: flex;
    justify-content: center;
    gap: 130px;
}

.about-text{
    max-width: 500px;
}

.about-section{
    justify-content: center;
    gap: 90px;
}

.projects-flex{
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.contactinformation{
    flex-direction: row;
}

.contactme-flex{
    max-width: 600px;
}

}